<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>invoice</name>
	<displayName><![CDATA[Invoice]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Интеграция платежной системы Invoice]]></description>
	<author><![CDATA[InvoiceLLC]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
